.ipynb_checkpoints/
Untitled.ipynb
data/
sample-data/
documentation.py
outputs/output/run1/*
outputs/output/run2/*
outputs/output1/run1/*
outputs/output1/run2/*
outputs/output2/run1/*
outputs/output2/run2/*
outputs/output3/run1/*
outputs/output3/run2/*
outputs/output4/run1/*
outputs/output4/run2/*
outputs/output5/run1/*
outputs/output5/run2/*
outputs/output6/run1/*
outputs/output6/run2/*
outputs/output7/run1/*
outputs/output7/run2/*
outputs/output8/run1/*
outputs/output8/run2/*
